USE [CherEPractica]
GO
/****** Object:  Table [dbo].[HomeTechModel]    Script Date: 02.11.2024 14:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeTechModel](
	[HomeTechModelID] [int] IDENTITY(1,1) NOT NULL,
	[HomeTechModelName] [nvarchar](50) NOT NULL,
	[HomeTechTypeTypeID] [int] NOT NULL,
 CONSTRAINT [PK__HomeTech__E5C076B49E49EF45] PRIMARY KEY CLUSTERED 
(
	[HomeTechModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairParts]    Script Date: 02.11.2024 14:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairParts](
	[RequestStatusID] [int] IDENTITY(1,1) NOT NULL,
	[RepairPartsName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__RepairPa__7094B7BB4CCDCD90] PRIMARY KEY CLUSTERED 
(
	[RequestStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestStatus]    Script Date: 02.11.2024 14:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestStatus](
	[RequestStatusID] [int] IDENTITY(1,1) NOT NULL,
	[RequestStatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__RequestS__7094B7BB6F3D0D93] PRIMARY KEY CLUSTERED 
(
	[RequestStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeTechType]    Script Date: 02.11.2024 14:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeTechType](
	[HomeTechTypeID] [int] IDENTITY(1,1) NOT NULL,
	[HomeTechTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__HomeTech__AC20314F64AC8DE8] PRIMARY KEY CLUSTERED 
(
	[HomeTechTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProblemDescryption]    Script Date: 02.11.2024 14:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProblemDescryption](
	[ProblemDescryptionID] [int] IDENTITY(1,1) NOT NULL,
	[ProblemDescryptionName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__ProblemD__1C8980F33F6A7159] PRIMARY KEY CLUSTERED 
(
	[ProblemDescryptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02.11.2024 14:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](20) NOT NULL,
	[Surname] [nvarchar](20) NOT NULL,
	[Patronymic] [nvarchar](20) NOT NULL,
	[Phone] [char](16) NULL,
	[Login] [nvarchar](15) NOT NULL,
	[Password] [nvarchar](15) NOT NULL,
	[Id_type] [int] NOT NULL,
 CONSTRAINT [PK__Users__1788CCAC30CC32A8] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Request]    Script Date: 02.11.2024 14:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[ReguestID] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [date] NULL,
	[HomeTechModelID] [int] NULL,
	[ProblemDescryptionID] [int] NULL,
	[RequestStatusID] [int] NULL,
	[CompletionDate] [date] NULL,
	[RepairParsID] [int] NULL,
	[MasterID] [int] NULL,
	[ClientID] [int] NOT NULL,
 CONSTRAINT [PK__Request__BAD9EB10697C6C9C] PRIMARY KEY CLUSTERED 
(
	[ReguestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 02.11.2024 14:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](50) NOT NULL,
	[requestID] [int] NOT NULL,
 CONSTRAINT [PK__Comments__C3B4DFAA01B7ABAA] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Requests]    Script Date: 02.11.2024 14:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Requests]
AS
SELECT        ReguestID, StartDate, HomeTechModelName, HomeTechTypeName
, ProblemDescryptionName, RequestStatusName, CompletionDate, 
                         RepairPartsName, MasterID, mast.Surname AS masterSurname, ClientID, client.Surname AS clientSurname, Message
FROM            Request left JOIN
                         RequestStatus ON dbo.Request.RequestStatusID = RequestStatus.RequestStatusID left JOIN
                         HomeTechModel ON dbo.Request.HomeTechModelID = HomeTechModel.HomeTechModelID left JOIN
                         HomeTechType ON HomeTechModel.[HomeTechTypeTypeID] = HomeTechType.HomeTechTypeID INNER JOIN
                         ProblemDescryption ON Request.ProblemDescryptionID = ProblemDescryption.ProblemDescryptionID left JOIN
                         RepairParts ON dbo.Request.[RepairParsID] = [dbo].[RepairParts].[RequestStatusID] left JOIN
                         dbo.[Users] AS mast ON dbo.Request.MasterID = mast.UserID left JOIN
						 Comments ON Request.ReguestID=Comments.requestID left JOIN
                         dbo.[Users] AS client ON dbo.Request.ClientID = client.UserID
GO
/****** Object:  Table [dbo].[HistoryAutorez]    Script Date: 02.11.2024 14:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryAutorez](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NULL,
	[dateAuto] [date] NULL,
	[Value] [bit] NULL,
 CONSTRAINT [PK__HistoryA__4D7B4ADDC49839E3] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeUser]    Script Date: 02.11.2024 14:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeUser](
	[Id_type] [int] IDENTITY(1,1) NOT NULL,
	[typeName] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK__TypeUser__74C1FDF635B2DBFD] PRIMARY KEY CLUSTERED 
(
	[Id_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Request] FOREIGN KEY([requestID])
REFERENCES [dbo].[Request] ([ReguestID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Request]
GO
ALTER TABLE [dbo].[HomeTechModel]  WITH CHECK ADD  CONSTRAINT [FK_HomeTechModel_HomeTechType] FOREIGN KEY([HomeTechTypeTypeID])
REFERENCES [dbo].[HomeTechType] ([HomeTechTypeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HomeTechModel] CHECK CONSTRAINT [FK_HomeTechModel_HomeTechType]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_HomeTechModel] FOREIGN KEY([HomeTechModelID])
REFERENCES [dbo].[HomeTechModel] ([HomeTechModelID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_HomeTechModel]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_ProblemDescryption] FOREIGN KEY([ProblemDescryptionID])
REFERENCES [dbo].[ProblemDescryption] ([ProblemDescryptionID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_ProblemDescryption]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_RepairParts] FOREIGN KEY([RepairParsID])
REFERENCES [dbo].[RepairParts] ([RequestStatusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_RepairParts]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_RequestStatus] FOREIGN KEY([RequestStatusID])
REFERENCES [dbo].[RequestStatus] ([RequestStatusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_RequestStatus]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Users] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Users]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Users1] FOREIGN KEY([MasterID])
REFERENCES [dbo].[Users] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Users1]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_TypeUser] FOREIGN KEY([Id_type])
REFERENCES [dbo].[TypeUser] ([Id_type])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_TypeUser]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK__Users__Phone__4E88ABD4] CHECK  (([Phone] like '8 [0-9][0-9][0-9]-[0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK__Users__Phone__4E88ABD4]
GO
/****** Object:  Statistic [_WA_Sys_00000002_7D0E9093]    Script Date: 02.11.2024 14:08:40 ******/
CREATE STATISTICS [_WA_Sys_00000002_7D0E9093] ON [dbo].[Comments]([Message]) WITH STATS_STREAM = 0x010000000100000000000000000000005121CD7C000000004F020000000000000F02000000000000E7030000E7000000640000000000000015D000000000000007000000EE52D00019B2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000010420000803F000000000000104200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000043000000000000009B00000000000000A3000000000000000800000000000000300010000000803F000000000000803F04000001003B0018043D04420435044004350441043D0430044F0420003F043E043B043E043C043A043004FF01000000000000000100000001000000280000002800000000000000000000001200000018043D04420435044004350441043D0430044F0420003F043E043B043E043C043A0430040200000040000000000112000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_7D0E9093]    Script Date: 02.11.2024 14:08:40 ******/
CREATE STATISTICS [_WA_Sys_00000003_7D0E9093] ON [dbo].[Comments]([requestID]) WITH STATS_STREAM = 0x0100000001000000000000000000000024B8498C00000000CB010000000000008B01000000000000380300003800000004000A0000000000000000000000000007000000ED52D00019B2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000
GO
/****** Object:  Statistic [PK__Comments__C3B4DFAA01B7ABAA]    Script Date: 02.11.2024 14:08:40 ******/
UPDATE STATISTICS [dbo].[Comments]([PK__Comments__C3B4DFAA01B7ABAA]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 5,PAGECOUNT = 1
GO
/****** Object:  Statistic [PK__HistoryA__4D7B4ADDC49839E3]    Script Date: 02.11.2024 14:08:40 ******/
UPDATE STATISTICS [dbo].[HistoryAutorez]([PK__HistoryA__4D7B4ADDC49839E3]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 26,PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_05A3D694]    Script Date: 02.11.2024 14:08:40 ******/
CREATE STATISTICS [_WA_Sys_00000002_05A3D694] ON [dbo].[HomeTechModel]([HomeTechModelName]) WITH STATS_STREAM = 0x010000000100000000000000000000002442F0E70000000053020000000000001302000000000000E7030000E7000000640000000000000015D000000000000007000000C075DB0019B2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000018420000803F000000000000184200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000045000000000000009F00000000000000A7000000000000000800000000000000300010000000803F000000000000803F04000001003D001B04300434043E043C04380440042000220410043100310032002000310435043B044B043904FF0100000000000000010000000100000028000000280000000000000000000000130000001B04300434043E043C04380440042000220410043100310032002000310435043B044B0439040200000040000000000113000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_05A3D694]    Script Date: 02.11.2024 14:08:40 ******/
CREATE STATISTICS [_WA_Sys_00000003_05A3D694] ON [dbo].[HomeTechModel]([HomeTechTypeTypeID]) WITH STATS_STREAM = 0x01000000010000000000000000000000F5D0898D00000000CB010000000000008B01000000000000380300003800000004000A0000000000000000000000000007000000C075DB0019B2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000
GO
/****** Object:  Statistic [PK__HomeTech__E5C076B49E49EF45]    Script Date: 02.11.2024 14:08:40 ******/
UPDATE STATISTICS [dbo].[HomeTechModel]([PK__HomeTech__E5C076B49E49EF45]) WITH STATS_STREAM = 0x01000000010000000000000000000000F0797E7B000000002802000000000000E801000000000000380300003800000004000A00000000000000000000000000070000001B8BDC0019B20000070000000000000007000000000000000000803F2549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000007C000000000000008400000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F070000000400000700000000000000,ROWCOUNT = 7,PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_17F790F9]    Script Date: 02.11.2024 14:08:40 ******/
CREATE STATISTICS [_WA_Sys_00000002_17F790F9] ON [dbo].[HomeTechType]([HomeTechTypeName]) WITH STATS_STREAM = 0x0100000001000000000000000000000099B6532E000000001302000000000000D301000000000000E7030000E7000000640000000000000015D0000000000000070000003948C60019B2000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C0400000803F000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000025000000000000005F0000000000000067000000000000000800000000000000300010000000803F000000000000803F04000001001D00240435043D04FF010000000000000001000000010000002800000028000000000000000000000003000000240435043D040200000040000000000103000000000100000000000000
GO
/****** Object:  Statistic [PK__HomeTech__AC20314F64AC8DE8]    Script Date: 02.11.2024 14:08:40 ******/
UPDATE STATISTICS [dbo].[HomeTechType]([PK__HomeTech__AC20314F64AC8DE8]) WITH STATS_STREAM = 0x010000000100000000000000000000001226CAF1000000000902000000000000C901000000000000380300003800000004000A0000000000000000000000000007000000C17FCE0019B20000050000000000000005000000000000000000803FCDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000A04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F050000000400000500000000000000,ROWCOUNT = 5,PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_19DFD96B]    Script Date: 02.11.2024 14:08:40 ******/
CREATE STATISTICS [_WA_Sys_00000002_19DFD96B] ON [dbo].[ProblemDescryption]([ProblemDescryptionName]) WITH STATS_STREAM = 0x01000000010000000000000000000000DE054023000000004B020000000000000B02000000000000E7030000E7000000640000000000000015D0000000000000070000005EAEC60019B2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000008420000803F0000000000000842000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000410000000000000097000000000000009F000000000000000800000000000000300010000000803F000000000000803F040000010039001F043504400435044104420430043B0420004004300431043E044204300442044C04FF0100000000000000010000000100000028000000280000000000000000000000110000001F043504400435044104420430043B0420004004300431043E044204300442044C040200000040000000000111000000000100000000000000
GO
/****** Object:  Statistic [PK__ProblemD__1C8980F33F6A7159]    Script Date: 02.11.2024 14:08:40 ******/
UPDATE STATISTICS [dbo].[ProblemDescryption]([PK__ProblemD__1C8980F33F6A7159]) WITH STATS_STREAM = 0x01000000010000000000000000000000BE9BB2B4000000000902000000000000C901000000000000380300003800000004000A0000000000000000000000000007000000CC7FCE0019B20000050000000000000005000000000000000000803FCDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000A04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F050000000400000500000000000000,ROWCOUNT = 5,PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_14270015]    Script Date: 02.11.2024 14:08:40 ******/
CREATE STATISTICS [_WA_Sys_00000002_14270015] ON [dbo].[RepairParts]([RepairPartsName]) WITH STATS_STREAM = 0x01000000010000000000000000000000838C7DA9000000007F020000000000003F02000000000000E7030000E7000000640000000000000015D000000000000007000000AF64CB0019B2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000070420000803F00000000000070420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005B00000000000000CB00000000000000D3000000000000000800000000000000300010000000803F000000000000803F040000010053001C043E0442043E04400420003E04310443043204300420003C043E0440043E04370438043B044C043D043E04390420003A0430043C04350440044B04FF01000000000000000100000001000000280000002800000000000000000000001E0000001C043E0442043E04400420003E04310443043204300420003C043E0440043E04370438043B044C043D043E04390420003A0430043C04350440044B04020000004000000000011E000000000100000000000000
GO
/****** Object:  Statistic [PK__RepairPa__7094B7BB4CCDCD90]    Script Date: 02.11.2024 14:08:40 ******/
UPDATE STATISTICS [dbo].[RepairParts]([PK__RepairPa__7094B7BB4CCDCD90]) WITH STATS_STREAM = 0x01000000010000000000000000000000002847CA0000000066020000000000002602000000000000380300003800000004000A0000000000000000000000000007000000BC7FCE0019B200000A000000000000000A000000000000000000803FCDCCCC3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000600000006000000010000001400000000008040000020410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000000000000000000000000000BA00000000000000C200000000000000300000000000000047000000000000005E0000000000000075000000000000008C00000000000000A300000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000100014000000803F0000803F0000803F09000000040000100014000000803F000000000000803F0A0000000400000A00000000000000,ROWCOUNT = 10,PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000003_3FD07829]    Script Date: 02.11.2024 14:08:40 ******/
CREATE STATISTICS [_WA_Sys_00000003_3FD07829] ON [dbo].[Request]([HomeTechModelID]) WITH STATS_STREAM = 0x01000000010000000000000000000000C47C720E000000002802000000000000E801000000000000380200003800000004000A00000000000000000000000000070000006A3AD9001CB20000070000000000000007000000000000000000803F2549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000007C000000000000008400000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F070000000400000700000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_3FD07829]    Script Date: 02.11.2024 14:08:40 ******/
CREATE STATISTICS [_WA_Sys_00000004_3FD07829] ON [dbo].[Request]([ProblemDescryptionID]) WITH STATS_STREAM = 0x01000000010000000000000000000000D297407D000000000902000000000000C901000000000000380200003800000004000A0000000000000000000000000007000000603AD9001CB20000070000000000000007000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F0000000000000046000000000000001000140000008040000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000000000803F050000000400000700000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_3FD07829]    Script Date: 02.11.2024 14:08:40 ******/
CREATE STATISTICS [_WA_Sys_00000005_3FD07829] ON [dbo].[Request]([RequestStatusID]) WITH STATS_STREAM = 0x01000000010000000000000000000000E51A0366000000000902000000000000C901000000000000380200003800000004000A00000000000000000000000000070000005B3AD9001CB200000700000000000000070000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F0000000000000046000000000000001000140000000040000000000000803F010000000400001000140000004040000000000000803F020000000400001000140000000040000000000000803F030000000400000700000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_3FD07829]    Script Date: 02.11.2024 14:08:40 ******/
CREATE STATISTICS [_WA_Sys_00000007_3FD07829] ON [dbo].[Request]([RepairParsID]) WITH STATS_STREAM = 0x0100000001000000000000000000000010A86CD900000000CB010000000000008B01000000000000380200003800000004000A0000000000000000000000000007000000553AD9001CB2000007000000000000000700000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000140000002549123F0000E0400000C0402549123F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000700000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_3FD07829]    Script Date: 02.11.2024 14:08:40 ******/
CREATE STATISTICS [_WA_Sys_00000008_3FD07829] ON [dbo].[Request]([MasterID]) WITH STATS_STREAM = 0x01000000010000000000000000000000F853019400000000EA01000000000000AA01000000000000380200003800000004000A00000000000000000000000000070000004F3AD9001CB200000700000000000000070000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000140000006EDB36400000E040000000406EDB36400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E000000000000004600000000000000100000000000000027000000000000001000140000008040000000000000803F04000000040000100014000000803F000000000000803F050000000400000700000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000009_3FD07829]    Script Date: 02.11.2024 14:08:40 ******/
CREATE STATISTICS [_WA_Sys_00000009_3FD07829] ON [dbo].[Request]([ClientID]) WITH STATS_STREAM = 0x01000000010000000000000000000000E6448CE5000000000902000000000000C901000000000000380300003800000004000A0000000000000000000000000007000000493AD9001CB200000700000000000000070000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F0000000000000046000000000000001000140000004040000000000000803F0D0000000400001000140000004040000000000000803F0E000000040000100014000000803F000000000000803F0F0000000400000700000000000000
GO
/****** Object:  Statistic [PK__Request__BAD9EB10697C6C9C]    Script Date: 02.11.2024 14:08:40 ******/
UPDATE STATISTICS [dbo].[Request]([PK__Request__BAD9EB10697C6C9C]) WITH STATS_STREAM = 0x01000000010000000000000000000000847040340000000047020000000000000702000000000000380300003800000004000A00000000000000000000000000070000003F3AD9001CB20000070000000000000007000000000000000000803F2549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000009B00000000000000A30000000000000028000000000000003F0000000000000056000000000000006D000000000000008400000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000000000803F04000000040000100014000000803F0000803F0000803F08000000040000100014000000803F000000000000803F0A0000000400000700000000000000,ROWCOUNT = 10,PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_160F4887]    Script Date: 02.11.2024 14:08:40 ******/
CREATE STATISTICS [_WA_Sys_00000002_160F4887] ON [dbo].[RequestStatus]([RequestStatusName]) WITH STATS_STREAM = 0x01000000010000000000000000000000AA21E56B000000004F020000000000000F02000000000000E7030000E7000000640000000000000015D0000000000000070000003C06C60019B2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000010420000803F000000000000104200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000043000000000000009B00000000000000A3000000000000000800000000000000300010000000803F000000000000803F04000001003B00120420003F0440043E04460435044104410435042000400435043C043E043D0442043004FF010000000000000001000000010000002800000028000000000000000000000012000000120420003F0440043E04460435044104410435042000400435043C043E043D04420430040200000040000000000112000000000100000000000000
GO
/****** Object:  Statistic [PK__RequestS__7094B7BB6F3D0D93]    Script Date: 02.11.2024 14:08:40 ******/
UPDATE STATISTICS [dbo].[RequestStatus]([PK__RequestS__7094B7BB6F3D0D93]) WITH STATS_STREAM = 0x01000000010000000000000000000000BA7BCCF400000000EA01000000000000AA01000000000000380300003800000004000A0000000000000000000000000007000000C67FCE0019B20000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F030000000400000300000000000000,ROWCOUNT = 3,PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_1BC821DD]    Script Date: 02.11.2024 14:08:40 ******/
CREATE STATISTICS [_WA_Sys_00000002_1BC821DD] ON [dbo].[TypeUser]([typeName]) WITH STATS_STREAM = 0x01000000010000000000000000000000F3D4ABC3000000002702000000000000E701000000000000E7030000E70000001E0000000000000015D0000000000000070000001D3FC10019B2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080410000803F00000000000080410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000073000000000000007B000000000000000800000000000000300010000000803F000000000000803F040000010027001C0435043D0435043404360435044004FF0100000000000000010000000100000028000000280000000000000000000000080000001C0435043D04350434043604350440040200000040000000000108000000000100000000000000
GO
/****** Object:  Statistic [PK__TypeUser__74C1FDF635B2DBFD]    Script Date: 02.11.2024 14:08:40 ******/
UPDATE STATISTICS [dbo].[TypeUser]([PK__TypeUser__74C1FDF635B2DBFD]) WITH STATS_STREAM = 0x01000000010000000000000000000000F39F71BA000000000902000000000000C901000000000000380300003800000004000A00000000000000000000000000070000004DF5C2001BB20000040000000000000004000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000804000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000000000803F040000000400000400000000000000,ROWCOUNT = 4,PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_1DB06A4F]    Script Date: 02.11.2024 14:08:41 ******/
CREATE STATISTICS [_WA_Sys_00000002_1DB06A4F] ON [dbo].[Users]([FName]) WITH STATS_STREAM = 0x0100000001000000000000000000000049529F7C000000001F02000000000000DF01000000000000E7030000E7000000280000000000000015D000000000000007000000880FC20019B2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002B000000000000006B0000000000000073000000000000000800000000000000300010000000803F000000000000803F04000001002300220440044304310438043D04FF010000000000000001000000010000002800000028000000000000000000000006000000220440044304310438043D040200000040000000000106000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_1DB06A4F]    Script Date: 02.11.2024 14:08:41 ******/
CREATE STATISTICS [_WA_Sys_00000003_1DB06A4F] ON [dbo].[Users]([Surname]) WITH STATS_STREAM = 0x010000000100000000000000000000000F338107000000001F02000000000000DF01000000000000E7030000E7000000280000000000000015D0000000000000070000008A0FC20019B2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002B000000000000006B0000000000000073000000000000000800000000000000300010000000803F000000000000803F040000010023001D0438043A04380442043004FF0100000000000000010000000100000028000000280000000000000000000000060000001D0438043A043804420430040200000040000000000106000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_1DB06A4F]    Script Date: 02.11.2024 14:08:41 ******/
CREATE STATISTICS [_WA_Sys_00000004_1DB06A4F] ON [dbo].[Users]([Patronymic]) WITH STATS_STREAM = 0x0100000001000000000000000000000029B5C81A000000002302000000000000E301000000000000E7030000E7000000280000000000000015D000000000000007000000880FC20019B2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060410000803F00000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002D000000000000006F0000000000000077000000000000000800000000000000300010000000803F000000000000803F040000010025002E0440044C043504320438044704FF0100000000000000010000000100000028000000280000000000000000000000070000002E0440044C0435043204380447040200000040000000000107000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_1DB06A4F]    Script Date: 02.11.2024 14:08:41 ******/
CREATE STATISTICS [_WA_Sys_00000005_1DB06A4F] ON [dbo].[Users]([Phone]) WITH STATS_STREAM = 0x01000000010000000000000000000000EBF3D8C5000000002302000000000000E301000000000000AF020000AF000000100000000000000015D000000000000007000000870FC20019B2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000020000000000080410000803F00000000000080410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002B000000000000006F0000000000000077000000000000000800000000000000100020000000803F000000000000803F38203932312D3035362D33312D323820040000FF01000000000000000100000001000000280000002800000000000000000000001000000038203932312D3035362D33312D3238200200000040000000000110000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_1DB06A4F]    Script Date: 02.11.2024 14:08:41 ******/
CREATE STATISTICS [_WA_Sys_00000006_1DB06A4F] ON [dbo].[Users]([Login]) WITH STATS_STREAM = 0x010000000100000000000000000000004A4E5EC1000000001B02000000000000DB01000000000000E7030000E70000001E0000000000000015D000000000000007000000890FC20019B2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000290000000000000067000000000000006F000000000000000800000000000000300010000000803F000000000000803F040000010021006B00610073006F006F00FF0100000000000000010000000100000028000000280000000000000000000000050000006B00610073006F006F000200000040000000000105000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_1DB06A4F]    Script Date: 02.11.2024 14:08:41 ******/
CREATE STATISTICS [_WA_Sys_00000007_1DB06A4F] ON [dbo].[Users]([Password]) WITH STATS_STREAM = 0x0100000001000000000000000000000075CBABD9000000001702000000000000D701000000000000E7030000E70000001E0000000000000015D000000000000007000000870FC20019B2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000410000803F0000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000270000000000000063000000000000006B000000000000000800000000000000300010000000803F000000000000803F04000001001F0072006F006F007400FF01000000000000000100000001000000280000002800000000000000000000000400000072006F006F0074000200000040000000000104000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_1DB06A4F]    Script Date: 02.11.2024 14:08:41 ******/
CREATE STATISTICS [_WA_Sys_00000008_1DB06A4F] ON [dbo].[Users]([Id_type]) WITH STATS_STREAM = 0x010000000100000000000000000000007F5068FC00000000CB010000000000008B01000000000000380300003800000004000A00000000000000000000000000070000008A0FC20019B2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000
GO
/****** Object:  Statistic [PK__Users__1788CCAC30CC32A8]    Script Date: 02.11.2024 14:08:41 ******/
UPDATE STATISTICS [dbo].[Users]([PK__Users__1788CCAC30CC32A8]) WITH STATS_STREAM = 0x01000000010000000000000000000000F7AB6F6B0000000066020000000000002602000000000000380300003800000004000A00000000000000000000000000070000009D95D10019B200000A000000000000000A000000000000000000803FCDCCCC3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000600000006000000010000001400000000008040000020410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000000000000000000000000000BA00000000000000C200000000000000300000000000000047000000000000005E0000000000000075000000000000008C00000000000000A300000000000000100014000000803F000000000000803F02000000040000100014000000803F000000400000803F06000000040000100014000000803F0000803F0000803F0A000000040000100014000000803F000000000000803F0D000000040000100014000000803F0000803F0000803F0F000000040000100014000000803F000000000000803F100000000400000A00000000000000,ROWCOUNT = 10,PAGECOUNT = 1
GO
